body {
    font-family: 'Raleway', sans-serif;
    background-color:#000000;
    }

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
    }
    
/* SECCIÓN NAVBAR */
/* Color del texto */
.navbar{
    color: white;
}

/* Ajuste tamaño del logo */
.navbar-brand img {
    height: 1.5rem;
    width: 1.5rem;
}

/* QUIENES SOMOS */
/* Fondo de los íconos */
#icono_prueba {
    background-color: #568f8f;
}

/* DESTACADOS */
/* Color de fondo de "cards" */
.card {
    background-color: #568f8f;
}

/* Ajuste de las imágenes contenidas en "cards" */
.card img {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Tamaño y grosor de tipografía del texto en "cards" */
.parrafo2 {
    font-size: 1rem;
    font-weight: lighter;
}

/* CONTACTO */
/* Línea bajo título */
hr{
    background-color: #34495E;
    border-width: 1px;
}

/* FOOTER */
/* Color del footer */
.footer_color {
    background-color: #568f8f;
}