body {
    font-family: 'Roboto', sans-serif;
    background-color:#000000;
    }

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
    }

.navbar{
    color: white;
}

/* Ajuste tamaño del logo */
.navbar-brand img {
    height: 1.5rem;
    width: 1.5rem;
}

.card {
    background-color: rgb(86, 143, 143);
}


.parrafo2 {
    font-size: 1rem;
    font-weight: lighter;
}

#icono_prueba {
    background-color: rgb(86, 143, 143);
}


footer {
    background-color: rgb(86, 143, 143);
}

